header div{
	position: absolute;
	top: 20vh;
	left: 20%;
	display: flex;
	object-position: center;
	margin-bottom: 50px;
	padding-bottom: 10vh;
	text-align: center;
	width: 10%;
}

header img{	
	display: block;	
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	left: 1%;
	object-position: center;
	text-align: center;
	border:0px;
}


header nav{
	display: inline-block;
	border: 5px solid gray;
	border-width: 1px 0px;
	font-size: 20px;
	margin-bottom: -1%;
	display: block;
	width: 20%;
	object-position: center;
	position: fixed;
	top: 45vh;
	left: 0vh;
}

header{
	position: fixed;
	background: -webkit-linear-gradient(#0faeb5ba, #fff);
	background: linear-gradient(to right bottom, #0faeb5ba, #fff);
	margin-top: -1.5%;
	margin-left: -0.6%;
	margin-right: -0.6%;
	width: 20%;
	height: 102%;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	object-position: center;
	text-align: center;
}

nav li{
	position: static;
	display: inline-block;
	width: 100em;
	margin-bottom: 40px;
	text-align: center;
	object-position: center;

}

nav li a{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.9em;
	display: block;
	padding: 5px 20px 5px 20px;
	
	object-position: center;
	text-align: center;
	color: #111;		
	text-decoration: none;
	border-radius: 5px;
	width: 10em;


	position: fixed;
	left: 2vh;

	display: block;
}


nav a:hover{
	background: #fff;
	color: #111;
	box-shadow: 0 0 10px #ffe600;
	transition-delay: 0.5s;
	display: block;
}

a:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-top: 2px solid #ffbc00;
	border-left: 2px solid #ffbc00;
	transition: 0.5s;
	display: block;

}

a:hover:before{
	width: 100%;
	height: 100%;
	border-top: 2px solid #ffbc00;
	border-left: 2px solid #ffbc00;
	display: block;
}

a:after{
	content:'';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-bottom: 0px solid #ffbc00;
	border-right: 2px solid #ffbc00;
	transition: 0.5s;
	display: block;
}

a:hover:after{
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #ffbc00;
	border-right: 2px solid #ffbc00;
	display: block;
}

nav a.active:after{
	width: 0%;
	border-bottom: 2px solid #ffbc00;
	display: block;
}

nav a.active{
	background: #FFFFFF;
	/*#ffdf0070*/
	color: #111;
	box-shadow: 0 0 10px #ffe600;
	border-bottom: 2px solid #ffbc00;
	border-right: 2px solid #ffbc00;
	border-top: 2px solid #ffbc00;
	border-left: 2px solid #ffbc00;	
	display: block;
}

main{
	/*position: static;*/

	display: inline-block;
	text-align: left;	
	width: 80%;
	float: right;	
}


.fullpage{
	display: inline-block;
	width: 100%;
	height: 100vh;	
	border: 5px solid gray;
	border-width: 1px 0px;
}

#section4{
	padding-bottom: 30px;
}

h1, h2, h3, p{
	padding-left: 5%;
	font-family: verdana;
}

h1{
	font-size: 3em;
	color: transparent;
	text-transform: uppercase;
	background-image: linear-gradient(to right, #f00,#ff0,#0f0,#00f);
	background-clip: text;
	-webkit-background-clip: text;
	animation: animate 20s linear infinite;
	background-size: 1000%;
	margin-bottom: -10px;
}

h2{
	font-size: 2em;
	color: #ff8300;
}

#section1 > h3{
	margin-bottom: 5%;
}

#section1>div{
	position: absolute;
	margin-left: 3.7%;
}

#section3>div{
	position: relative;
	margin-left: 5%;
}

.fab,.fas{
	position: relative;
	margin-right: 60px;
	font-size: 50px;
	color: #495057;
}



#section3>div>.fab,#section3>div>.fas{
	margin-right: 40px;
	margin-bottom: 4%;
	color: #495057c4;
}

#section2>h2,#section3>h2{
	margin-bottom: 5%;
}

#section2>p{
	margin-bottom: 5%;
}

#section5{
	background: #000;
}

.box{
	position: relative;
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box p{
	position: absolute;
	left: 0;
	color: #fff;
	font-size: 5em;
	font-weight: 600;
	text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.lightbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
	animation: animatelightbar 5s linear infinite;
}

@keyframes animatelightbar{
	0%,5%{
		transform: scaleY(0) translateX(0);
	}
	10%{
		transform: scaleY(1) translateX(0);
	}
	90%{
		transform: scaleY(1) translateX(590px);
	}
	95%,100%{
		transform: scaleY(0) translateX(590px);
	}
}


@keyframes animate{
	0%{
		background-position: 0% 100%;
	}
	50%{
		background-position: 100% 0%;
	}
	100%{
		background-position: 0% 100%;
	}
}

.toplayer{
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: #000;
	 animation: animatetoplayer 5s linear infinite;  	 
}

@keyframes animatetoplayer{
	0%,5%{
		transform: scaleY(0) translateX(0);
	}
	10%{
		transform: scaleY(1) translateX(0);
	}
	90%{
		transform: scaleY(1) translateX(590px);
	}
	95%,100%{
		transform: scaleY(0) translateX(590px);
	}
}


#section1, #section2,#section3,#section5{
	padding-top: 25vh;
}

.row{
	margin-top: 2%;
}

section .row{
	font-family: Garamond , sans-serif;
	display: inline-block;
	width: 45%;	
	/*height: 17rem;*/
	height: 20rem;
	margin-left: 2%;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FFFFFF;

	text-align: center;
	object-position: center;
}

section #middle{
	margin-left: 25%;
}

.content>p{
	color: #495057;
}

div{
	display: inline;	
}

img{
	/*width: 20em;*/
	width: 100%;
	/*height: 78%;*/
	height: 69%;
	object-fit: cover; /*This function makes that the images
	adjust to the width and height established*/
	display: block;
	/*background-position: center bottom;*/
	object-position: center;
	/*padding-top: 10px;*/
	border-top: 2px solid red; 
}

.container{
	width: 100%;
	height: 82%;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 4%;
	text-align: center;
	object-position: center;
}

.container .card{
	position: relative;
	width: 100%;
	height: 100%;
}

.container .card .face{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.container .card .face.face1{
	background: #333;
	display: inline-block;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform-origin: bottom;
}

.container .card .face.face1 img{
	width: 100%;
	/*height: 78%;*/
	height: 100%;
	object-fit: cover; /*This function makes that the images
	adjust to the width and height established*/
	display: block;
	/*background-position: center bottom;*/
	object-position: center;
	/*padding-top: 10px;*/
}

.container .card:hover .face.face1{
	transform: translateY(-100%) rotateX(90deg);
	background: #ff0057;
}

.container .card .face.face2{
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;	
	transform-origin: top;
	transform: translateY(100%) rotateX(90deg);	
	border-top: 2px solid #ff0000;
}

.container .card .face.face2 p{
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 19px;
	font-family: Georgia, Arial, sans-serif;
}

.container .card:hover .face.face2{
	transform: translateY(0%) rotateX(0deg);
}


section h3, section h4{
	font-family: Georgia, Arial, sans-serif;
	font-size: 19px;
}


.menu-toggle
{
	float: right;
	line-height: 60px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}


@media only screen and (max-width: 450px){
	section{
		width: 80%;
	}
}



@media only screen and (max-width: 990px){
	header{
		display: none;
		position: absolute;
		padding: 0px;
		margin: 0px;
		width: 0%;
		height: 0%;	
	}

	header div{
		position: absolute;
		display: none;
		width: 0%;
		height: 0%;
	}

	header img, li{
		position: absolute;
		display: none;
		width: 0%;
		height: 0%;
		padding: 0px;
		margin: 0px;
	}

	nav li{
		position: absolute;
		display: none;
		width: 0%;
		height: 0%;
		padding: 0px;
		margin: 0px;
	}

	li a{
		position: absolute;
		display: none;
		width: 0%;
		height: 0%;
		padding: 0px;
		margin: 0px;
	}

	header nav{
		display: none;
		position: absolute;
		width: 0%;
		height: 0%;
		background: -webkit-linear-gradient(#0faeb5ba, #fff);
		background: linear-gradient(to right bottom, #0faeb5ba, #fff);
		top: 50px;
		left: 0;
		transform: 0.5s;	
	}

	header nav.active{
		left: 0;
		display: inline-block;
		display: block;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.2);
		display: block;
		/*display: block;*/
	}

	header nav ul li a:after{
		content:'';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0%;
		height: 0px;		
	}

	.menu-toggle
	{
		display: block;
	}

	main{
		position: absolute;
		padding-top: 45px;
		display: inline-block;

		width: 100%;
	}

	main.space{
		padding-top: 200px;
		display: block;
		margin-left: -11%;
		margin-right: -10%;
	}

	section{
		width: 100%;
		transition-duration: 1s;
	}

}

@media only screen and (max-width: 700px){
	section{
		width: 100%;
		transition-duration: 1s;
	}

	section .row{
		width: 75%;	
		position: relative;
		left: 10%;
	}
}

